@if(isEditingList){
<form [formGroup]="editListForm" (ngSubmit)="submitUpdatedList()" class="editing-list-form"
    [ngStyle]="{'background-color': editListForm.value.listColor}">
    <fieldset class="editing-list-fieldset">
        <div class="form-field">
            <label for="listTitle" class="editing-list-label">Title: </label>
            <input id="listTitle" name="listTitle" formControlName="listTitle" class="editing-list-input">
        </div>
        <div class="form-field">
            <label for="listColor" class="editing-list-label">Color</label>
            <input id="listColor" name="listColor" formControlName="listColor" type="color" class="editing-list-input">
        </div>
    </fieldset>
    <div class="form-buttons-container">
        <button type="submit" class="editing-list-button" [disabled]="canSubmitEditTistForm()">Save</button>
        <button type="button" class="editing-list-button" [disabled]="!isEditingList"
            (click)="toggleEditingList()">Cancel</button>
    </div>
</form>
} @else {

<div class="container-column list-content" [ngStyle]="{'background-color': '#' + listItem.color}">

    <div class="list-top-bar">
        <h3 [ngStyle]="{'color': '#' + contrastColor}">{{listItem.title}}</h3>
        <div class="buttons-container">
            <button type="button" class="icon-button" (click)="toggleCreatingTask()">
                <img src="../../../assets/icons/plus_icon.png" alt="Create new task"
                    [ngClass]="{'icon-inverted': contrastColor == 'ffffff'}">
            </button>
            <button type="button" class="icon-button" (click)="toggleEditingList()">
                <img src="../../../assets/icons/edit_icon.png" alt="Edit list"
                    [ngClass]="{'icon-inverted': contrastColor == 'ffffff'}">
            </button>
            <button type="button" class="icon-button" (click)="deleteList()">
                <img src="../../../assets/icons/delete_icon.png" alt="Delete list"
                    [ngClass]="{'icon-inverted': contrastColor == 'ffffff'}">
            </button>
        </div>
    </div>

    <div class="tasks-container" [ngStyle]="{'background-color':'#' + brightnessAdjustedColor}">
        @if(isCreatingNewTask){
        <form [formGroup]="newTaskForm" (ngSubmit)="submitNewTask()" class="new-task-form">
            <fieldset class="new-task-fieldset" [ngStyle]="{'border': '2px solid #' + contrastColor}">

                <div class="container-colum">
                    <div class="form-field">
                        <label for="taskTitle" class="new-task-label">Title: </label>
                        <input id="taskTitle" name="taskTitle" formControlName="taskTitle" autocomplete="off"
                            class="new-task-input">
                    </div>
                    <div class="form-field">
                        <label for="taskDueDate" class="new-task-label">Due date: </label>
                        <input id="taskDueDate" name="taskDueDate" formControlName="taskDueDate" type="date"
                            autocomplete="off" class="new-task-input">
                    </div>

                </div>

                <div class="form-field">
                    <label for="taskDescription" class="new-task-label">Description: </label>
                    <textarea id="taskDescription" name="taskDescription" formControlName="taskDescription"
                        autocomplete="off" class="new-task-input new-task-description"></textarea>
                </div>

            </fieldset>
            <div class="form-buttons-container">
                <button type="submit" class="new-task-button" [disabled]="canSubmitNewTaskForm()">Save</button>
                <button type="button" class="new-task-button" (click)="toggleCreatingTask()">Cancel</button>
            </div>
        </form>
        }
        @for(task of tasksArraySignal(); track task._id){
        <app-task [taskItem]="task" [contrastColor]="contrastColor" [backgroundColor]="brightnessAdjustedColor"
            (taskDeleted)="removeTask($event)"></app-task>
        }
    </div>
</div>
}