<div class="lists-container">
    @for(list of listsArraySignal(); track list._id) {
    <app-list [listItem]="list" (listDeleted)="removeList($event)"></app-list>
    }

    @if(isCreatingNewList){
    <form [formGroup]="newListForm" (ngSubmit)="submitNewList()"
        [ngStyle]="{'background-color': newListForm.value.color}">
        <fieldset>
            <div class="form-field">
                <label for="title">List title: </label>
                <input id="title" name="title" formControlName="title" autocomplete="off">
            </div>
            <div class="form-field">
                <label for="color">List color:</label>
                <input id="color" name="color" formControlName="color" type="color">
            </div>
        </fieldset>
        <div class="form-buttons-container">
            <button type="submit" class="form-button" [disabled]="canSubmit()">Create list</button>
            <button type="button" class="form-button" (click)="toggleCreatingList()">Cancel</button>
        </div>
    </form>
    } @else {
    <button type="button" class="new-list-button" (click)="toggleCreatingList()">
        <img src="../../../assets/icons/plus_icon.png" alt="Create new list" class="new-list-icon">
    </button>
    }
</div>