:host {
    width: 100%;
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: var(--Dark-light-grey);
    box-shadow: 10px 10px 5px 0px var(--Black);
    border-radius: 15px;
    padding: 50px;
}

fieldset {
    border: 2px solid var(--White);
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--White);
}

label {
    font-size: 1.2em;
    color: var(--White);
}

button {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: var(--Primary);
    color: var(--White);
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--White);
    background-color: var(--Dark-dark-grey);
    color: var(--White);
}

::-ms-reveal {
    filter: invert(100%);
}