/* variables */

:root {
    --Black: #000000;
    --White: #FFFFFF;
    --Primary: #ed7923;
    --Secondary: #f0de52;
    --Dark-dark-grey: #1e1f22;
    --Dark-medium-grey: #2b2d31;
    --Dark-light-grey: #383a40;
    --Light-dark-grey: #7B7D85;
    --Light-medium-grey: #afb0b4;
    --Light-light-grey: #e2e2e3;
    --Text-input-field: #F7F7F7;
    --Dark: #232830;
    --disabled-bg: #4e5056;
}

/* Scrollbars */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--White);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--Light-dark-grey);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--Dark-medium-grey);
}

/* globals */

* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif !important;
}

html {
    font-family: 'Work Sans', sans-serif !important;
    margin: 0 !important;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0 !important;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

/* global container that encapsulates the entire window */

.content {
    height: 100%;
    width: 100%;
    background-color: var(--Dark-dark-grey);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* containers */

.container-row {
    width: 100%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.container-column {
    width: 100%;
    height: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

/* inputs */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"] {
    font-size: 14px;
}

input[type="date"]::-webkit-datetime-edit-text {
    padding: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(210%) hue-rotate(194deg) brightness(116%) contrast(100%);
    border-radius: 5px;
    width: 20px;
    height: 20px;
}

input::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    filter: invert(70%);
}